-if task
  %ul.stickers
    %li.sticker{ :class => "#{task.priority}"}
      %span.sticker_hidden
        = link_to 'X', task, :confirm => 'Are you sure?', :method => :delete, :class => 'btn danger disabled active small'
      = link_to edit_task_path(task), :class => 'sticker' do
        %h2
          = task.title
        %p
          = task.description
        %span.sticker_hidden
          %br
          %span.label.success
            = distance_of_time_in_words_to_now task.updated_at