= form_for(@list.tasks.build) do |f|
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_area :description, :rows => '10'
  .field
    = f.label :priopity
    = f.number_field :priopity, :in => 1...10
  .field
    = f.label :status
    = f.enum_select :status
  .field
    = f.hidden_field :list_id
  .actions
    = f.submit 'Save', :class => 'btn success'
