%br
%p#notice= notice

%h2 
  Title:
  %b= @task.title
%h2 
  Description:
  %b= @task.description
%h2 
  Priority:
  %b= @task.priority
%h2 
  Status:
  %b= @task.status
%h2 
  Story:
  %b= @task.story_id

%br
= link_to 'Edit', edit_task_path(@task), :class => 'btn info'

= link_to 'Back', :back, :class => 'btn'
