
.sidebar
  .page-header
    %br
    %br
    = link_to 'Add Story', new_story_path(:project => @project.id), :class => 'btn primary'
  %h3= @project.name
  %h2= @project.description
  %p
    %b
      Owner:
    =User.find_by_id(@project.owner_id).email
  %br
  %p
    %b
      %span.label.warning=@project.users.count 
      Users
      %ul
        - @project.users do |user|
          %li=user.email
    %b
      %span.label.important=@project.stories.count 
      Stories
      %ul
        - @project.stories do |story|
          %li
            %span.label.success=story.tasks.count
            =story.title
  %p 
    = link_to 'E', edit_project_path(@project), :class => 'btn success disabled small active'
    = link_to 'D', @project, :confirm => 'Are you sure?', :method => :delete, :class => 'btn danger disabled small active'
  %hr
  %h3 Assigned to you
  %p 
    = render 'tasks/assingned'

=render :partial => 'stories/board'






