.board
  .page-header
    .row.show-grid.title{ :title => "Story"}
      = render :partial => 'board/title', :locals => {:count => counts(@stories)} 
  - board = fill_board @stories
  - board.keys.each do |story_id|
    - show_story = true
    - board[story_id][:max_tasks].times do
      .row.show-grid{ :title => "Story #{board[story_id][:story].title}", :class => "#{show_story ? 'list_top' : ''}"}
        .span4.list_first
          = render :partial => 'board/story_info', :locals => {:story => board[story_id][:story], :show_story => show_story}
          - show_story = false
        .span4.todo
          = render :partial => 'board/task_sticker',   :locals => {:task => board[story_id][:toDo].pop}
        - 2.times do |n|
          .span4.in_progress{:class => "in_progress_#{n}"}
            = render :partial => 'board/task_sticker', :locals => {:task => board[story_id][:in_progress].pop}
        .span4.done
          = render :partial => 'board/task_sticker',   :locals => {:task => board[story_id][:done].pop}
