= link_to "ToDo list", root_url, :class => 'brand'

%ul.nav
  %li{:class => "" }
    = link_to "Home", root_url
  %li{:class => "#{current_page?(:controller => 'lists') ? 'active' : ''}" }
    = link_to "Lists", lists_path
  %li{:class => "#{current_page?(:controller => 'tasks') ? 'active' : ''}" }
    = link_to "Tasks", tasks_path