!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title ToDo List
    
    = stylesheet_link_tag    "application"
    = yield :stylesheet
    
    = javascript_include_tag "application"
    = yield :javascript

    = csrf_meta_tags

    %link{:href => "http://fonts.googleapis.com/css?family=Reenie+Beanie:regular", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Cabin+Sketch:700|Inconsolata", :rel => "stylesheet", :type => "text/css"}

  %body
    .topbar
      .fill
        .container
          = render partial: "application/header"

    .container
      = yield :div
      - if flash
        - flash.each do |name, msg|
          - if msg.is_a?(String)  
            = content_tag :div, :class => "alert-message block-message #{name}" do
              <a class="close" href="#">×</a>
              <p><strong> 
              = msg
              </strong></p>
      = yield
      
      = render partial: "application/footer"
